// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Datetimepicker
// @import 'tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css';
// @import './plugins/daterangepicker.css';